<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
<title>Benutzerverwaltung</title>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="../Frontend DAD/css/fontello.css">
<link rel="stylesheet" href="../Frontend DAD/css/style.css">
<script>$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
</head>

<body>
	<header class="header">
    	<div class="main">
        	<div class="left-header">
            	<h1>
                   <a href="index.html"><img src="../Frontend DAD/images/logo.png" alt>
                   <span class="project-name" style="padding-top: 2px;">Deutsche Aussprachedatenbank</span>
                   <span class="uni-name" style="text-transform: uppercase;	font-size: .57em; padding-top: 2px;">Martin-Luther-Universität Halle-Wittenberg</span>
                   </a>
                </h1>
            </div>    
            <div class="right-header">
            	<ul class="menu-list">
            	    <li class="item-menu1"><a href="#">Henning Almus<i class="icon-user"></i></a>
                        <ul class="sub-menu1">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Einstellung</a></li>
                            <li><a href="#">Abmelden</a></li>
                        </ul>
                	</li>
                </ul>
            </div>
                       
        </div>       
    </header>
   
    <div class="menu">
    	<div class="main">
        	<ul class="menu-list">
            	<li class="item-menu"><a href="index.html">Hauptseite</a></li>
                <li class="item-menu"><a href="#">Erweiterte Suche im Aussprachewörterbuch</a></li>
                <li class="item-menu"><a href="#">Über die DAD</a></li>
                <li class="item-menu"><a href="#">Hinweise zur Eindeutschung</a></li>
                <li class="item-menu"><a href="#">Hinweise zur Transkription</a></li>
                <li class="item-menu"><a href="#">Redaktionsportal</a></li>
                <li class="item-menu"><a href="#">Kontakt</a></li>
                <li class="item-menu"><a href="rechtliches.html"><i>Rechtliches</i></a>
                	<ul class="sub-menu">
                    	<li><a href="https://www.uni-halle.de/impressum.php?id=1/">Impressum</a></li>
                        <li><a href="https://www.uni-halle.de/datenschutzerklaerung/">Datenschutzerklärung</a></li>
                        <li><a href="https://www.uni-halle.de/disclaimer/">Disclaimer</a></li>
                        <li><a href="#">Nutzungsbedingungen</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
    	<div class="content">
        	<h1>Rechtliches</h1>
           	<li><a href="https://www.uni-halle.de/impressum.php?id=1/">Impressum</a></li>
            <li><a href="https://www.uni-halle.de/datenschutzerklaerung/">Datenschutzerklärung</a></li>
            <li><a href="https://www.uni-halle.de/disclaimer/">Disclaimer</a></li>
            <li><a href="#">Nutzungsbedingungen</a></li>
        </div>
    </div>
</body>
</html>
