@charset "utf-8";
/* CSS Document */

body {
	font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 100%;
    line-height: 1.4;
    font-family: CharisSILW;
  	margin:0px;
	background-color:#dedede;	
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {text-decoration:none; color:#000;}
ul {list-style-type:none;}
li {font-family: CharisSILW;}
h1, h2{
    font-weight: bold;
    padding: 0;
    line-height: 1.2;
    clear: left;
}
.header h1 {
    margin: 32px 0 16px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.75em;
    font-weight: normal;
}
h1{	
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.header h1 img {
    float: left;
    margin-right: 1em;
    width: 200px;
}	
.clear { clear:both;}
.main {
	max-width:1170px;
	margin:auto;
	width:100%;
}
.header {
	width:100%;
	float:left;
	background-color:#FFF;
	min-height:130px;
}
.header .left-header{
	width:90%;
	float:left;
}
.header .left-header h1 {
	width:100%;
	float:left;
	display:block;
    margin: 32px 0 16px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.75em;
    font-weight: normal;
}
.header-left h1 img {
    margin-right: 1em;
	float: left; 
	
}
img {
    border-width: 0;
    vertical-align: middle;
    color: #666;
    background-color: transparent;
    font-style: italic;  
}
.left-header h1 .project-name {
    padding-top: 2px;
	
}
.left-header h1 span {
	display:block;
}
.project-name a{
	text-decoration:none;
    color: #333;	
}
.uni-name {
	text-decoration:none;
	text-transform: uppercase;
	font-size: .57em;
    padding-top: 2px;
}
.header .right-header {
	float:right;
	width: 10%;
	min-height:40px;
	background-color:#FFF;
	color: #065ca6;
	font-size:13px;
	font-weight:700;
	margin-top:15px;
	padding-top:10px;
}
.menu {
	width:100%;
	min-height:40px;
	background-color:#0288d1;
	display:inline-block;
}
.menu-list {
	margin:0; 
	padding:0;
}
.item-menu, .item-menu1 {
	line-height: 40px;
	position: relative;
	float: left;
}
.item-menu1{background-color:#FFF;}
.item-menu a, .item-menu1 a{
	color:#FFF;
	padding: 0 8px;
	display:block;	
}
.sub-menu {
	display: none;
	position: absolute;
	min-width: 50px;
	min-height: 100px;
	background-color:#0288d1;
	top: 40px;
	padding:0;
	z-index: 1;
	font-family: Helvetica,Arial,sans-serif;
}
.sub-menu1 {
	border-collapse: collapse;
    border: 1px solid #ccc;
	display: none;
	position: absolute;
	min-width: 150px;
	min-height: 80px;
	background-color:#FFF;
	top: 40px;
	padding:0;
	z-index: 1;
	
}
.sub-menu2 {
	display: none;
	border-collapse: collapse;
    border: 1px solid #ccc;
	position: absolute;
	min-width: 270px;
	min-height: 300px;
	background-color:#FFF;
	top: 40px;
	padding:0;
	z-index:1;
}
.sub-menu2 a, .sub-menu1 a{text-decoration: underline;}
.item-menu:hover, .sub-menu li:hover {background-color: #2b73b7;}
.item-menu1:hover, .sub-menu1 li:hover, .sub-menu2 li:hover {background-color:#CCC;}
.item-menu:hover .sub-menu{display:inline-block;}
.item-menu1:hover .sub-menu1{display:inline-block;}
.item-menu1:hover .sub-menu2{display:inline-block;}
.content {
	width:100%;
	float:left;
	background-color:#fff;
	margin-top:10px;
	padding:15px;
}
button.ipa-keyboard.active, button.buchstaben-keyboard.active {
	background-color:#ccc;
	border:none;
}
button.ipa-keyboard:hover, button.buchstaben-keyboard:hover {
    background-color:#ccc;
}
button.ipa-keyboard {
	width: 100%;
	margin-top: 4px;
    background: #eee;
    color: #444;
    cursor: pointer;
    padding: 6px;
    text-align: left;
    border: none;
    border-radius: 0;
    outline: none;
    transition: 0.4s;
}
p, ul, ol, dl, table{
    margin: 0 0 1.4em 0;
    padding: 0;
}
button.buchstaben-keyboard {
	width: 100%;
	float:left;
	line-height:30px;
	color:#444;
	text-align:left;
	margin-top:5px;
	cursor: pointer;
	outline: none;
    transition: 0.4s;
	}
form.search-bar input[type=text]{
	width: 93%;
	float: left;
	font-size: 17px;
	margin-top:8px;
	height: 50px;
}
form.search-bar button {
	width: 7%;
	float: left;
	cursor: pointer;
	margin-top:8px;
	height: 50px;
	font-size: 20px;
}	
.ipa-panel {
	width:100%;
	padding: 0 18px;
    background-color: #FFF;
}
table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid #ccc;
	float:left;
	margin-top: 5px;
	margin-right:2%;
}
th {
    font-weight: bold;
    background-color: #eee;
    text-align: left;
	display: table-cell;
	vertical-align: inherit;
    text-align: -internal-center;
}
th, td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid #ccc;
}
.right-header a {color: #2b73b7;}
tr:nth-child(even) {background-color: #f2f2f2;}
.form-control{
    width: 93%;
	float: left;
	font-size: 17px;
	
	margin-top:8px;
	height: 50px;
	
}



