@charset "utf-8";
/* CSS Document */

body {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 87.5%;
    line-height: 1.4;
    font-family: CharisSILW, Helvetica, Arial, sans-serif;
	margin:0px;
	background-color:#dedede;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1, h2{
	font-size:14px;
	}


.clear { clear:both;}
.main {
	max-width:1170px;
	margin:auto;
	width:100%;
}
.header {
	width:100%;
	float:left;
	background-color:#FFF;
	min-height:80px;
	
}

.logo {
	float:left;
	width:200px;
	min-height:50px;
	text-align:left;
	font-size:16px;
	padding-top:10px;
}
.header .page-name {
	float: left;
	width: 50%;
	line-height:40px;
	
}
.project-name {
	text-decoration:none;
	width: 100%;
	float:left;
	min-height: 40px;
}
.uni-name {
	text-decoration:none;
	
	min-height: 40px;
}
.header .right-header {
	float:right;
	width: 10%;
	min-height:40px;
	background-color:#FFF;
	color: #065ca6;
	text-align:center;
	font-size:13px;
	font-weight:700;
	margin-top:15px;
	padding-top:10px;
}

.list-item {
	line-height: 40px;
	position: relative;
	float: left;
}
.list-item a {
	color:#FFF;
	padding: 0 15px;
	display:block;
}
.sub-menu {
	display: none;
	position: absolute;
	min-width: 150px;
	min-height: 100px;
	background-color: #e74c3c;
	top: 40px;
	padding:0;
	z-index: 1;
}

.content {
	width:100%;
	float:left;
	background-color:#fff;
	margin-top:10px;
	padding:15px;
}
.menu {
	width:100%;
	float:left;
	height:550px;
	background-color:#000;
}
.navi {
	width:100%;
	float:left;
	height:55px;
	background-color:#f0a52b;
}
button.ipa-keyboard.active, button.buchstaben-keyboard.active {
	background-color:#ccc;
	border:none;
}
button.ipa-kexboard:hover, button.buchstaben-kexboard:hover {
    background-color:#ccc;
}
button.ipa-keyboard {
	width: 100%;
	float:left;
	line-height:30px;
	color: #000;
	text-align:left;
	margin-top:0px;
	cursor: pointer;
	outline: none;
    transition: 0.4s;
}
p, ul, ol, dl, pre, table, hr, blockquote, figure, details, fieldset, address {
    margin: 0 0 1.4em 0;
    padding: 0;
}
button.buchstaben-keyboard {
	width: 100%;
	float:left;
	line-height:30px;
	color:#000;
	text-align:left;
	}
.search-bar {
	width: 100%;
	float: left;
}
.search-bar input[type=text] {
	width: 100%;
	float: left;
	border: none;
	font-size: 17px;
	border: 1px solid #ccc;
	margin-top:8px;
	height: 40px;
}

.search-icon {
	width: 20px;
	float:right;
}	
.ipa-panel {
	width:100%;
	padding: 0 18px;
    background-color: #FFF;
}
/*.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}*/
table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid #ccc;
	float:left;
	margin-right:2%;
}
th {
    font-weight: bold;
    background-color: #eee;
    text-align: left;
	display: table-cell;
}
th, td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid #ccc;
}
.right-header a {color: #f0a52b;}
.box-left {
	width:60%;
	float:left;
	padding-left: 10px;
	}
.box-right {
	float:right;
	width:40%;
	padding-left:50px;
	padding-top: 25px;
	padding-right: 25px;
}
.form {
	width:100%;
	padding-bottom:25px;
	min-height:30px;}
.form-left {
	width:50%;
	float:left;
	text-align:center;
}
.form-right {
	float:right;
	width:50%;
}

.be-box{
	width: 40%;
	float:left;
	padding-left: 30px;
}
.row {
	margin-left:-15px;
	margin-right:-15px;
	}
.item {
	width:25%;
	float:left;
	padding:15px;
}
.item .box {
	width:100%;
	float:left;
	min-height:25px;
	background-color:#99C;
	text-align:center;
	line-height:25px;
}


.rolle-box {
	width: 100%;
}
.rolle-box .rolle-box-left {
	width: 60%;
	float:left;
	padding-left:70px;
}
.rolle-box .rolle-box-right {
	width:40%;
	float:right;}	
.box-item {
	width:13%;
	float:left;
	padding:20px;
	margin: 10px;
	border: 1px solid;
	}

tr:nth-child(even) {background-color: #f2f2f2;}






