{% extends "base_generic.html" %}

{% block content %}
  <h1>IPA List</h1>
<div class="table-responsive">
<table class="table table-striped">
     <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ipa</th>
            <th scope="col">entry</th>
            <th scope="col">syllable</th>
            <th scope="col">stress</th>
            <th scope="col">sampa</th>
            <th scope="col">language</th>
        </tr>
    </thead>
  {% if ipa_list %}
    {% for ipa in ipa_list %}
  <ul>
     <tr>
        <th scope="row">{{ipa.id}}</th>
        <th scope="row">{{ipa.ipa}}</th>
        <th scope="row">
          <a href="{{ word.get_absolute_url}}">{{ipa.word}}</th>
        <th scope="row">{{ipa.syllable}}</th>
        <th scope="row">{{ipa.stress}}</th>
        <th scope="row">{{ipa.sampa}}</th>
        <th scope="row">{{word.language}}</th>
    </tr>
    {% endfor %}
  </ul>
</table> 
</div>
  {% else %}
    <p>There are no IPAs in the library.</p>
  {% endif %}    
{% endblock %}